<div id="banner-v1" class="content-vertical full-height test-border">
  <div class="content-horizontal">
    <span><b>Title:</b></span>
    <span class="content-horizontal main-axis-center full-width">
      <b>{{ bannerData.title }}</b>
    </span>
  </div>
  <div id="address" class="content-horizontal">
    <!-- <span>{{ bannerData.address }}</span> -->
  </div>
  <div class="content-horizontal main-axis-end">
    <div class="content-vertical p-2">
      <div class="content-horizontal">
        <div class="content-vertical p-1">
          <b>Home Phone:</b>
          <b>Business Phone:</b>
          <b>Cell Phone:</b>
        </div>
        <div class="content-vertical p-1">
          <!-- <span>{{ bannerData.homePhone }}</span>
          <span>{{ bannerData.businessPhone }}</span>
          <span>{{ bannerData.cellPhone }}</span> -->
        </div>
      </div>
    </div>
    <div class="content-vertical main-axis-end p-2">
      <div class="content-horizontal">
        <b>US Tax ID # :</b>
        <span>{{ bannerData.usTaxId }}</span>
      </div>
      <div class="content-horizontal">
        <b>Primary IP # :</b>
        <span>{{ bannerData.primaryIp }}</span>
      </div>
    </div>
  </div>
</div>
