/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content-vertical {
  display: flex;
  flex-direction: column;
}

.content-horizontal {
  display: flex;
  flex-direction: row;
}

.main-axis-center {
  justify-content: center;
}

.cross-axis-center {
  align-items: center;
}

.main-axis-end {
  justify-content: end;
}

.cross-axis-end {
  align-items: end;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.test-border {
  border: 3px solid black;
}
